@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
            html{
                font-family: 'Noto Sans KR', sans-serif;
                word-break: keep-all;
                line-height: 1.7;
                font-size: 12px;
            }
            body,h1,h2,ul,ol,p{
                margin: 0;
                padding: 0;
            }
            body{
                background-color: #ddd;
                overflow: hidden;
            }
            h1{
                position: fixed;
                right: 3rem;
                top: 3rem;
                z-index: 100;
            }    
            .entry{
                user-select: none;
                position: absolute;
                background-color: #fff;
                left: 0;
                top: 0;
                border-left: 3px solid #000;
                padding: 0.5rem 0.7rem;
            }
            .entry:hover{
                cursor: pointer;
                background-color: black;
                color: #fff;
            }
            #contents{
                position: relative;
                background:rgba(76, 175, 80, 0.3);
            }
            #yrTextContainer, #yrLineContainer{      
                position: absolute;
                left: 0px;
                top: 0px;
            }
            .yrLine{
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                border-left: 1px solid #000;
                height: 100vh;
            }
            .yrText{
                position: absolute;
                left: 0;
                top: 0;
            }